# No whitespace after the comma or in your part name!
config SHIELD_HW_ELORA_LEFT
    def_bool $(shields_list_contains,hw_elora_left)

# No whitespace after the comma or in your part name!
config SHIELD_HW_ELORA_RIGHT
    def_bool $(shields_list_contains,hw_elora_right)
